<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Active Oulu</title>
    <style>
        body,html{
        padding:0;
        margin:0;
        }

    </style>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
     
</head>

<body>
    <p style="color:#0000ff; text-align:right; padding-left: 30px; padding-right: 30px"><a href="/feedback">English</a></p>
    {% if error %} <p style="color:#ff0000; text-align:justify">Please answer all mandatory questions marked with (*) asterisk</p> {% endif %}
    <p style="text-align:justify; padding-left: 30px; padding-right: 30px">Vastaa kysymyksiin ja jä tietosi arvontaa varten! Vastanneiden kesken arvomme viisi paria elokuvalippuja. Arvonnan voittajille ilmoitetaan henkilötaisesti.</p>
    <h4 style="text-align:justify; padding-left: 30px; padding-right: 30px">Antamiasi tietoja käetä tutkimustarkoituksiin ja kätellä nimettöti. Tietoja ei luovuteta kolmansille osapuolille.</h4>
    <p style="text-align:justify; padding-left: 30px; padding-right: 30px">Kaupunkikaikuja on osa Oulun yliopiston arkkitehtuurin osaston Mukautuva kaupunkivalaistus -tutkimusta ja liittyy myöulun yliopiston monitieteiseen UBI Metrics -tutkimukseen.</p>


    <form action="/feedback/fi" method="post">
    {% csrf_token %}
    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q1">1. Sukupuoli* </h3>

            {% for value, text in form.q1.field.choices %}
                <label for="id_q1_{{ forloop.counter0  }}"><input type="radio" id="id_q1_{{ forloop.counter0  }}" value="{{ value  }}" name="q1" />{{ text  }}</label>
            {% endfor %}

            </div>
    </div>
    
    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q2"> 2. Ikä* </h3>

            {% for value, text in form.q2.field.choices %}
                <label for="id_q2_{{ forloop.counter0  }}"><input type="radio" id="id_q2_{{ forloop.counter0  }}" value="{{ value  }}" name="q2" />{{ text  }}</label>
            {% endfor %}

            </div>
    </div>

    <div>
            <h3 for="q3">3. Nykyinen asuinpaikka* </h3>
            
                <label for="q3_city">Kaupunki tai kunta  </label>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q3_city }}
            </div>


                <label for="q3_city">Maa </label>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q3_country }}
            </div>
        </div>

    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q4">4. Oletko joskus asunut Oulussa?* </h3>
           
            {% for value, text in form.q4.field.choices %}
                <label for="id_q4_{{ forloop.counter0  }}"><input type="radio" id="id_q4_{{ forloop.counter0  }}" value="{{ value  }}" name="q4" />{{ text  }}</label>
            {% endfor %}

            </div>
    </div>
            
    <div>
            <h3 for="q5">5. Koulutus* </h3>
            <div data-role="fieldcontain" style="width: 100%">
                <label for="id_q5_0"><input type="radio" id="id_q5_0" value="a" name="q5" /> Peruskoulun pätöistus </label>
                <label for="id_q5_1"><input type="radio" id="id_q5_1" value="b" name="q5" /> Ylioppilas tai ammattitutkinto </label>
                <label for="id_q5_2"><input type="radio" id="id_q5_2" value="c" name="q5" /> Alempi korkeakoulututkinto </label>
                <label for="id_q5_3"><input type="radio" id="id_q5_3" value="d" name="q5" /> Ylempi korkeakoulututkinto </label>
                <label for="id_q5_4"><input type="radio" id="id_q5_4" value="e" name="q5" /> Muu, mikäOD  </label>{{ form.q5_other }}
            </div>
    </div>

    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q6">6. Ammatti tai opiskeluala* </h3>
            
            {% for value, text in form.q6.field.choices %}
                <label for="id_q6_{{ forloop.counter0  }}"><input type="radio" id="id_q6_{{ forloop.counter0  }}" value="{{ value  }}" name="q6" />{{ text  }}</label>
            {% endfor %}

            </div>
            

            <div data-role="fieldcontain" style="width: 100%">
            <label for="q6_title">*Ammattinimike (tai opiskelija) </label>{{ form.q6_title }}
            </div>

    </div>
    
    <div>
            <h3 for="q7">7. Minäää ja mihin aikaan olit Otto Karhin puistossa katselemassa valaistusta? *  </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q7  }}
            </div>
    </div>
    
    <div>
            <h3 for="q8">8. Kuvaile omin sanoin, minkäinen valaistus puistossa oli.*  </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q8 }}
            </div>
    </div>
    
    <div>
            <h3 for="q9">9. Minkäisena koit puiston tunnelman?* </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q9 }}
            </div>
    </div>
    
    <div>
            <h3 for="q10">10.  Muuttiko valaistus kätystä Otto Karhin puistosta.* </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q10 }}
            </div>
    </div>
    
    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q11">11.  Koitko puiston turvallisempana kuin aikaisemmin? *  (0=En lainkaan, 5=Kylläerittä paljon) </h3>

            {% for value, text in form.q11.field.choices %}
                <label for="id_q11_{{ forloop.counter0  }}"><input type="radio" id="id_q11_{{ forloop.counter0  }}" value="{{ value  }}" name="q11" />{{ text  }}</label>
            {% endfor %}
            </div>


            <div data-role="fieldcontain" style="width: 100%">
            <label for="q11_why">Miksi? Milläavoin?* </label>{{ form.q11_why }}
            </div>


    </div>

    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q12">12.   Reagoiko valo ihmisten liikkeisiin puistossa? *  </h3>

            {% for value, text in form.q12.field.choices %}
                <label for="id_q12_{{ forloop.counter0  }}"><input type="radio" id="id_q12_{{ forloop.counter0  }}" value="{{ value  }}" name="q12" />{{ text  }}</label>
            {% endfor %}
            </div>



            <div data-role="fieldcontain" style="width: 100%">
            <label for="q12_how">Jos reagoi, miltäe sinusta tuntui?* </label>{{ form.q12_how }}
            </div>

    </div>
    
    <div>
            <div data-role="fieldcontain" style="width: 100%">
            <h3 for="q13">13.   Koitko voivasi vuorovaikuttaa valaistuksen kanssa? *  (0=En lainkaan, 5=erittä paljon)</h3>
            {% for value, text in form.q13.field.choices %}
                <label for="id_q13_{{ forloop.counter0  }}"><input type="radio" id="id_q13_{{ forloop.counter0  }}" value="{{ value  }}" name="q13" />{{ text  }}</label>
            {% endfor %}
            </div>



            <div data-role="fieldcontain" style="width: 100%">
            <label for="q13_why">Miksi? Milläavoin?* </label>{{ form.q13_why }}
            </div>

    </div>
    
    <div>
            <h3 for="q14a">14(a).  Käitköupunkikaikuja mobiilipalvelua, vai päyitköstaamaan lomakkeeseen muuta kautta? * </h3>
            <div data-role="fieldcontain" style="width: 100%">
                <label for="id_q14_0"><input type="radio" id="id_q14_0" value="a" name="q14" /> Kaupunkikaikuja-mobiilipalvelun kautta </label>
                <label for="id_q14_1"><input type="radio" id="id_q14_1" value="b" name="q14" /> Muuta reittiämitä </label>{{ form.q14_which  }}
            </div>
    </div>
    <div>
            <h3 for="14b">14(b).  Jos käit, miltäalvelu tuntui? Koitko, ettäalaistus havainnollisti kyselysi tulosta?  </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q14_how }}
            </div>
    </div>
    
    <div>
            <h3 for="q15">15.   Tuleeko mieleesi jotain muuta?  </h3>
            <div data-role="fieldcontain" style="width: 100%">
            {{ form.q15 }}
            </div>
    </div>
    <p></p>
    <div>
            <h3>(Vapaaehtoinen, arvontaa varten) </h3>

            <div data-role="fieldcontain" style="width: 100%">
            <label for="name">Nimi</label>{{ form.name }}
            </div>

            <div data-role="fieldcontain" style="width: 100%">
            <label for="email">Säötiosoite  <label>{{ form.email }}
            </div>

    </div>
    <input type="submit" value="Submit" style="width: 100%"/>
    </form>


</body>
